.introduction-banner{
    height: 600px;
    background-color: var(--tropical-green);

    .intro-content{
        display: flex;
        justify-content:center;
    }
    
    .intro-headline{

    }
    .intro-card{

    }
}
