.introduction-banner{
    height: 600px;
    background-color: var(--tropical-green);

    .intro-content{
        display: flex;
        justify-content:center;
        font-family: var(--content-form);
    }
    
    .intro-headline{
        
    }
    .intro-card{

    }
}
