<div class="introduction-banner">
        <div class="intro-content">
            <div class="intro-headline">
                    <h1 class="headline-title">Travel The world Through Kyobi</h1>
                    <p class="headline-content">
                        Kyobi Travel Agency has been offering the best vacation packages since 2021.
                        <br>   
                        We guarantee that every trip you book with us will be unique and unforgettable.</p>
            </div>
            
            <div class="intro-card">
                
            </div>
        </div>
</div>